<div class="row">
    <div class="col-9">
        <h2 class="text-primary">UserList</h2>
    </div>
    <div class="col-3">
        <a asp-area="Identity" class="btn btn-info" asp-page="/Account/Register">
            <i class="fas fa-plus"></i>&nbsp; User LIst
        </a>

    </div>

</div>
<div class="border m-2 p-2">
    <table id="tbldata" class="table  table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Companyname</th>
                <th>Role</th>
                <th>ID</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
    {
    
    <script src="~/js/user.js"></script>
}