@model Project_model.Category
@{
    ViewData["Title"] = "upsert";
    var Title = Model.Id != 0 ? "Edit Category" : "New Category";
}

<form method="post">
    <div class="row">
        <h2 class="text-primary">@Title</h2>
    </div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group row p-2 m-2">
            <div class="col-4">
                <label asp-for="Name" class="form-control"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>




                @*   <div class="col-4 offset-4">
                <input type="submit" class="btn btn-success form-control" value="Save"/>
                <a asp-action="Index" class="btn btn-info form-control">Back to List</a>
                </div>
                </div>
                *@
                <div class="form-group">
                    <div class="col-8">
                        @if (Model.Id != 0)
                        {
                            <partial name="Edit" />
                        }
                        else
                        {
                            <partial name="_Creat" />
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
