<div class="row">
    <div class="col">
        <button class="btn btn-success">update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-danger">Back TO List</a>
    </div>
</div>